<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 - Q&A 게시판</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="auth-container">
        <div class="auth-form-wrapper">
            <h1 class="auth-title">Login</h1>
            
            <form th:action th:object="${loginForm}" method="post">

                <div th:if="${#fields.globalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter your email" required
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{email}"></div>
                </div>
                
                <div class="mb-4">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}"  placeholder="Password" required
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{password}"></div>
                </div>
                
                <div class="d-grid gap-2 mb-3">
                    <button type="submit" class="btn btn-custom-unified">Sign in</button>
                </div>
            </form>
            
            <div class="text-center mt-5" style="font-weight: 500;">
                Don't have an account? <a href="/signup" style="color: #0d6efd;">Sign up</a>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
